table {
    border: 0 solid #ccc;
    width: 100%;
    margin:0;
    padding:0;
    border-collapse: collapse;
    border-spacing: 0;
}

table a {
    text-decoration: none;
    color: black;
}

table tr {
    border-bottom: 1px solid #f2f2f2;
    padding: 5px;
}

table tr:nth-child(even) {
    background-color: rgba(53, 199, 255, 0.08);
}

table th, table td {
    padding: 15px;
    text-align: left;
}

table td div {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.tableId {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
    overflow: hidden;
}

tr td {
    max-width: 70px;
}


table th {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}

.commentIcon {
    text-align: center;
}

@media screen and (max-width: 1000px) {

    table {
        border: 0;
    }

    table thead {
        display: none;
    }

    table tr {
        margin-bottom: 10px;
        display: block;
        border-bottom: 2px solid #ddd;
    }

    table td {
        display: block;
        text-align: right;
        font-size: 13px;
        border-bottom: 1px dotted #ccc;
    }

    table td:last-child {
        border-bottom: 0;
    }

    table td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }

    .editLabel::before, .commentIcon::before, .archive {
        display: none;
    }
    .commentIcon {
        text-align: right;
    }

    table td div {
        max-width: 100%;
    }

    .tableId {
        width: 100%;
    }

    tr td {
        max-width: 100%;
    }
    .tableId span {
        display: table;
        right: 30px;
        position: absolute;
    }
    table tr:nth-child(even) {
        background-color: transparent;
    }
    .centeredTableElement {
        text-align: right !important;
    }
}

.addCase {
    float: right;
}

.addCase a {
    text-decoration: none;
}

.addCaseIcon {
    font-size: 20px !important;
    margin-left: 10px;
}

.openLink {
    font-size: 12px !important;
    margin-left: 5px;
}

.centeredTableElement {
    text-align: center;
}

.approved {
    color: green !important;
    text-align: center;
}

.notApproved {
    color: red !important;
}

.commentCounter {
    font-weight: bold;
    color: green;
    font-size: 9px;
    padding: 1px 4px;
    border-radius: 4px;
    margin-top: -20px;
}

