.navContainer {
    background: linear-gradient(90deg, #35C7FF 0%, #4C8CFD 100%);
    height: 200px;
}

button.menuBtn {
    background-color: white ;
    padding: 5px 20px;
}

.menuRight {
    float: right;
    color: white;
}

.topIcon {
    color: white;
    margin-right: 15px;
}

.topIcon.logout {
    cursor: pointer;
}

.navContainer h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    color: white;
    float: left;
}

.greeting {
    color: white;
}

/* overriding material ui styles */

.navInnerContainer {
    padding: 0 !important;
    padding-top: 10px !important;
}
