.navContainer {
    background: linear-gradient(90deg, #35C7FF 0%, #4C8CFD 100%);
    height: 200px;
}

.navInnerContainer {
    padding: 0 !important;
    padding-top: 50px !important;
}

button.menuBtn {
    background-color: white ;
    padding: 5px 20px;
}


.menuBtn {
    float: right;
}

.navContainer h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    color: white;
    float: left;
}
